<h1> Artists </h1>

<ol>
    <% @artists.each do |artist_instance| %>

        <li>
            <p> <%= artist_instance.name %> - <%= artist_instance.title %> - <%= link_to "Link", artist_path(artist_instance) %>  </p>
        </li>

    <% end %>
</ol>

<p> <%= button_to "Create New Artist", new_artists_path, method: 'get' %> </p>

<p> <%= button_to "Connect Artist to Instrument", new_artists_instruments_path , method: 'get' %></p>

